* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #E4EBF5;
    font-family: 'DM Sans', sans-serif;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #E4EBF5;
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
  }



.nav {
    display: inline-flex;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    padding: 0 20px;
    border-radius: 10px;
    box-shadow:  5px 5px 10px #bebebe,
                 -5px -5px 10px #ffffff;
  }
  
  .nav-item {
    color: #83818c;
    padding: 10px;
    text-decoration: none;
    transition: .3s;
    z-index: 1;

    font-weight: 500;
    position: relative;
    

  }

  .nav-item:before {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 5px;
    border-radius: 8px 8px 0 0;
    opacity: 0;
    transition: .3s;
  }
  
  .nav-item:not(.is-active):hover:before {
    opacity: 1;
    bottom: 0;
  }
  
  
  .nav-item:not(.is-active):hover { color: #333; }
  
  .nav-indicator {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    transition: .4s;
    height: 5px;
    z-index: 1;
    border-radius: 8px 8px 0 0;
  }